
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid#e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
  }

  /* label focus color */
 .input-field input:focus + label {
    color:#e91e63 !important;
  }

  [type="checkbox"].filled-in:checked + label:after{
    border: 2px solid pink;
    background-color: pink;
}

.secondary-content {
    float: right;
    color: pink;
}